# BASED ON ExtremeKernel config file for enabling KSU
# This file gets merged with the device-specific defconfig on kernel compilation
# Kernel defconfigs are left stock with minimal edits while this file includes all of the major modifications done to the kernel config

# Set custom kernel version
CONFIG_LOCALVERSION="-Eyeless-+.+"
CONFIG_F2FS_FAKE_KERNEL_RELEASE="4.19.87-EyelessKernel-+.+"

# Enable KSU
CONFIG_KSU=y
# CONFIG_KSU_DEBUG is not set
# CONFIG_KSU_ALLOWLIST_WORKAROUND=n
CONFIG_KSU_WITH_KPOBES=n
CONFIG_KPROBES=n 

# KSU SusFS THANK YOU FRED
CONFIG_KSU_SUSFS_HAS_MAGIC_MOUNT=y
CONFIG_KSU_SUSFS_SUS_PATH=n
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_AUTO_ADD_SUS_KSU_DEFAULT_MOUNT=y
CONFIG_KSU_SUSFS_AUTO_ADD_SUS_BIND_MOUNT=y
CONFIG_KSU_SUSFS_SUS_KSTAT=Y
CONFIG_KSU_SUSFS_SUS_OVERLAYFS=y
CONFIG_KSU_SUSFS_TRY_UMOUNT=y
CONFIG_KSU_SUSFS_AUTO_ADD_TRY_UMOUNT_FOR_BIND_MOUNT=y
CONFIG_KSU_SUSFS_SPOOF_UNAME=y
CONFIG_KSU_SUSFS_ENABLE_LOG=Y
CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y
CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y
CONFIG_KSU_SUSFS_OPEN_REDIRECT=y
CONFIG_KSU_SUSFS_SU_SU=n

# EOF
